<%- include("header") -%>

<h2 class="about">This is the about page</h2>

<p class="about">I recently created a comprehensive to-do list application using Node.js, EJS, and Mongoose. Leveraging the power of Node.js, I built a robust back-end server that handles the logic and functionality of the application. EJS was instrumental in generating dynamic HTML templates, allowing me to render the to-do list items dynamically and efficiently. With the help of Mongoose, I seamlessly integrated a MongoDB database into the application, enabling me to store and retrieve the to-do list items persistently. This powerful stack of technologies provided me with a solid foundation to develop a user-friendly and feature-rich to-do list application.Furthermore, I incorporated functionalities for adding and deleting items. Users can easily add new tasks to their to-do lists, providing a streamlined approach to task management. Similarly, they can delete completed or unwanted items, ensuring a clutter-free and organized task list. These features collectively contribute to a seamless and efficient to-do list application.</p>

<%- include("footer") -%>
